<! ----------- This header file consists of all the imports like jquery that will be used throughout all pages !---------->
<!doctype html>
<html lang="en" ng-app="betaApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../beta.ico">

    <title>Beta Project Management</title>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- socketio -->
    <script src="../static/js/messages/socket.js"></script>
    <!-- <script src="/bower_components/socket.io-client/lib/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Custom styles for login template -->
    <link href="../static/css/signin.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- angular app -->
    <script src="../static/js/app.js"></script>
    <!-- user -->
    <!-- TODO -->
    <!-- projects -->
    <script src="../static/js/services/projects.service.js"></script>
    <script src="../static/js/components/projects.component.js"></script>
    <script src="../static/js/components/project.component.js"></script>
    <script src="../static/js/components/tasks.component.js"></script>
    <script src="../static/js/components/task.component.js"></script>
    <!-- messages -->
    <script src="../static/js/services/messages.service.js"></script>
    <script src="../static/js/components/messages.component.js"></script>
    <!-- issues -->
    <script src="../static/js/services/issues.service.js"></script>
    <script src="../static/js/components/issues.component.js"></script>
    <script src="../static/js/components/issue.component.js"></script>

    <link rel="stylesheet" href="../static/css/styles.css">

    <link rel="icon" href="../static/beta.ico">
</head>