<div ng-controller="ProjectController">
    <div>
        <div>
            <div id={{project.id}}>
                <div>
                    {{project.name}}
                </div>
                <div>
                    {{project.description}}
                </div>
                <div>
                    {{project.status}}
                </div>
                <div>
                    {{project.created_date}}
                </div>
                <div>
                    {{project.updated_date}}
                </div>
                <div ng-repeat="task in project.tasks">
                    <div>
                        {{task.name}}
                    </div>
                    <div>
                        {{task.status}}
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="showTask(task.id)">View</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskModal">
        Add New Task
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTaskModalLabel">New Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="inputTaskName" class="sr-only">Task Name</label>
                        <input type="text" id="inputTaskName" class="form-control" placeholder="Task Name" required autofocus ng-model="task.name">
                        <label for="inputTaskDescription" class="sr-only">Task Description</label>
                        <input type="text" id="inputTaskDescription" class="form-control" placeholder="Task Description" required autofocus ng-model="task.description">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createNewTask()">Create New Task</button>
                </div>
            </div>
        </div>
    </div>

</div>