<div class="col-sm-2">
    <h2>
        Project
        <button class="btn btn-success" ng-click="done()">Done</button>
    </h2>
    <div class="col-sm-2">
        <span>
            Name:
            <input type="text" ng-model="$ctrl.project.name" />
        </span>
        <div>
            Description:
            <input type="text" ng-model="$ctrl.project.description" />
        </div>
        <div>
            Status:
            <input type="text" ng-model="$ctrl.project.status" />
        </div>

    </div>