<div ng-controller="IssuesController">

    <ul>
        <li ng-repeat="issue in issues">
            <a id={{issue.subject}}>
                    {{issue.subject}}
                    <div>
                        {{issue.priority}}
                    </div>
                    <div>
                        {{issue.severity}}
                    </div>
                    <div>
                        {{issue.status}}
                    </div>
                    <div>
                        {{issue.created_at}}
                    </div>
                    <div>
                        {{issue.updated_at}}
                    </div>
                    <div>
                        {{issue.created_by_user}}
                    </div>
                </a>
        </li>
    </ul>
</div>

<form ng-submit="send()">
    <input type="text" ng-model="text" placeholder="...">
    <input type="submit" value="Send">
</form>
</div>