<div ng-controller="IssueController">

    <ul>
        <li>
            <a id={{issue.subject}}>
                {{issue.subject}}
                <div>
                    {{issue.priority}}
                </div>
                <div>
                    {{issue.description}}
                </div>
                <div>
                    {{issue.severity}}
                </div>
                <div>
                    {{issue.status}}
                </div>
                <div>
                    {{issue.created_at}}
                </div>
                <div>
                    {{issue.updated_at}}
                </div>
                <div>
                    {{issue.assigned_to_user_id}}
                </div>
                <div>
                    {{issue.created_by_user}}
                </div>
            </a>
        </li>
    </ul>
</div>

<form ng-submit="send()">
    <input type="text" ng-model="text" placeholder="...">
    <input type="submit" value="Send">
</form>
</div>